
            h1 {
                color: brown;
            }

            * {
                border: solid;
            }
            .grid{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .footer{
                display:flex;
                justify-content: flex-end;
            }
